{% extends 'base.html.twig' %}

{% block body %}
    <h1>Diapo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diapo.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ diapo.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ diapo.description }}</td>
            </tr>
            <tr>
                <th>Online</th>
                <td>{% if entity.online %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('diapo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('diapo_edit', { 'id': diapo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
